<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% trim %}{% block title %}{% endblock %}{% endtrim %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@root/css/vanilla.css">
        <link rel="stylesheet" href="@root/css/pygments.css">
        <!--[if lt IE 9]>
            <script src="@root/js/html5shiv.min.js"></script>
        <![endif]-->
        <script src="@root/js/jquery-1.11.2.min.js"></script>
        <script src="@root/js/vanilla.js"></script>
    </head>
    <body class="{{classes}}">

        <header id="header" class="header meta">
            {{ includes.menu }}
        </header>

        <article id="content" class="content">
            {% block content %}{% endblock %}
        </article>

        <footer id="footer" class="footer meta">
            {{ includes.menu }}
        </footer>

    </body>
</html>