{% extends "base.html" %}

{% block title %}
    {% if flags.is_homepage %}
        {{ site.title }}
    {% else %}
        {{ trail|join:": "|titlecase }}
    {% endif %}
{% endblock %}

{% block content %}

    <h1>{{ trail|last|titlecase }}</h1>

    {% for record in records %}
        {% if record.title or record.html|firsth %}
            <h3>{{ record.title or record.html|firsth|striptags }}</h3>
        {% endif %}

        {{ record.html|firstp|wrap:'p' }}

        <p><a href="{{ record.url }}">Read more...</a></p>

        {% if not loop.last %}<hr>{% endif %}
    {% endfor %}

    {% if paging.is_paged %}
        <hr>
        <p class="paging">

            {% if paging.page > 1 %}
                <a href="{{ paging.first_url }}">First</a> ~
                <a href="{{ paging.prev_url }}">Prev</a> ~
            {% endif %}

            <span class="pagecount">
                Page {{ paging.page }} of {{ paging.total }}
            </span>

            {% if paging.page < paging.total %}
                ~ <a href="{{ paging.next_url }}">Next</a>
                ~ <a href="{{ paging.last_url }}">Last</a>
            {% endif %}

        </p>
    {% endif %}

{% endblock %}
