<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="@root/css/reset.css">
        <link rel="stylesheet" href="@root/css/vanilla.css">
        <link rel="stylesheet" href="@root/css/pygments.css">
    </head>
    <body class="{{classes}}">

        <div class="header meta">
            {{ includes.menu }}
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="footer meta">
            {{ includes.menu }}
        </div>

    </body>
</html>