
body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}
    
td:first-child {
    padding-right: 20px;
    font-weight: bold;
}

pre {
    font-family: Consolas, monospace;
    font-size: 13px;
    line-height: 20px;
    margin: 25px 0;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px;
}
